<mat-card>
    <mat-card-content>
        <a [routerLink]="['/send-mail-to-reset']" class="back-arrow">
            <img class="back-arrow-no-hover" src="assets/img/arrow_back.png">
            <img class="back-arrow-hover" src="assets/img/arrow_back_hover.png" alt="">
        </a>
        <div class="reset-password-header">
            <h1>
                Passwort zurücksetzen
            </h1>
        </div>
        <form [formGroup]="passwordData" (ngSubmit)="resetPassword()">
            <div class="input-errormessage">
                <div class="space-for-errormessage">
                    <div class="input-send-mail-to-reset">
                        <mat-icon>lock_outline</mat-icon>
                        <input required formControlName="password" type="password" placeholder="Neues Passwort">
                    </div>
                    <p *ngIf="passwordData.get('password')?.hasError('password')" class="show-error-message">*Diese E-Mail-Adresse ist ungültig.</p>
                </div>

                <div class="space-for-errormessage">
                    <div class="input-send-mail-to-reset">
                        <mat-icon>lock_outline</mat-icon>
                        <input required formControlName="passwordRepeat" type="password" placeholder="Neues Kennwort bestätigen">
                    </div>
                    <p *ngIf="passwordData.get('passwordRepeat')?.hasError('passwordRepeat')" class="show-error-message">*Diese E-Mail-Adresse ist ungültig.</p>
                </div>
            </div>
            <div class="reset-password-btn-field">
                <button class="login-btn" type="submit" [class.disabled-btn]="!passwordData.valid" [disabled]="!passwordData.valid">Password ändern</button>
            </div>
        </form>

    </mat-card-content>
</mat-card>

<div class="reset-banner-field">
    <div class="reset-banner" [@resetBanner]="bannerState">
        <span>Password geändert</span>
    </div>
</div>