@import '../../mixin.scss';

mat-card {
    box-shadow: 0px 2px 10px 0px #00000014;
    width: 100%;
    max-width: 692px;
    max-height: 423px;
    min-height: 50vh;
    border-radius: 30px;
    padding: 40px 90px;
    position: relative;  
    @include flex-align-justify();

    .back-arrow {
        @include flex-align-justify();
        height: 40px;
        width: 40px;
        position: absolute;
        top: 52px;
        left: 40px;
        z-index: 99;

        .back-arrow-no-hover {
            display: block;            
        }
        .back-arrow-hover {
            display: none;
        }

        &:hover {
            cursor: pointer;
            border-radius: 100%;
            background-color: #ECEEFE;
            .back-arrow-no-hover {
                display: none;            
            }
            .back-arrow-hover {
                display: block;
            }
        }
    }

    mat-card-content {
        padding: 16px 0;
        height: 100%;
        width: 100%;
        gap: 60px;
        display: flex;
        flex-direction: column;       
        align-items: center;      
    }
}

.reset-password-header {
    gap: 40px;
    @include flex-align-justify();
    flex-direction: column;

    h1 {
        margin: 0;
        @include font-size-weight-color($fs: 46px, $fw: 700, $cl: #444DF2);
    }
    span {
        @include font-size-weight-color($fs: 20px, $fw: 400);
    }
}

.input-send-mail-to-reset {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    input {
        @include font-size-weight-color($fw: 500);
        width: 100%;
        padding: 18px 70px;
        border-radius: 100px;
        border: none;
        background-color: #ECEEFE;

        &:focus {
            outline: 1px solid #535AF1;
        }

        &:hover {
            cursor: pointer;
            outline: 1px solid #686868;
        }
    }

    mat-icon {
        position: absolute;
        left: 20px;
    }
}

form {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // gap: 40px;
}

.input-errormessage {
    width: 90%;

    .space-for-errormessage {
        height: 100px;
    }

    p {
        text-align: left;
    }

    span {
        @include font-size-weight-color($fs: 20px, $cl: #686868);
        display: flex;
        text-align: center;
    }
}

.show-error-message {
    color: #ED1E79 !important;
}

.hide-error-message {
    color: transparent;
}

button {
    cursor: pointer;
    height: 49px;
    padding: 12px 25px;
    border-radius: 25px;
    @include font-size-weight-color($fw: 700);
}

.reset-password-btn-field {
    width: 90%;
    @include flex-align-justify($jc: right);
    
    .login-btn {
        color: white;
        border: none;
        background-color: #444DF2;
        
        &:hover {
            background-color: #797EF3;
        }
    }
}

.disabled-btn {
    cursor: default;
    background-color: #686868 !important;
}

.reset-banner-field {
    @include flex-align-justify();

    
    .reset-banner {
        opacity: 0;
        position: absolute;
        left: calc(50% - 160px);
        bottom: 0;
        @include flex-align-justify();
        gap: 10px;
        padding: 30px 50px;
        background-color: #444DF2;
        border: none;
        border-radius: 30px;
        span {
            @include font-size-weight-color($fs:24px, $fw:700, $cl:#FFFFFF)
        }
    }
}


@media (max-width: 1050px) {
    mat-card {
        width: 80%;
        padding: 40px 40px;

        mat-card-content {
            gap: 40px;
        }
    }

    .reset-password-header {
        height: 20%;
        justify-content: space-between;
    }

    form {
        height: 60%;
    }
}

@media (max-width: 800px) {

    .reset-password-header {
        h1 {
            font-size: 40px;
        }
    }
}

@media (max-width: 705px) {

    .reset-password-header {
        gap: 15px;

        h1 {
            font-size: 32px;
            text-align: center;
        }

        span {
            text-align: center;
            font-size: 17px;
        }
    }

    .input-send-mail-to-reset {
        input {
            padding: 18px 20px 18px 50px;
        }
    }

    form {
        gap: 15px;
    }

    .input-errormessage {
        width: 100%;
        span {
            font-size: 17px;
        }
    }
}


@media (max-width: 600px) {
    mat-card {
        width: 95%;
        mat-card-content {
            gap: 20px;
        }
        .back-arrow {
            left: 20px;
        }
    }

    .reset-banner-field {
        .reset-banner {
            padding: 20px 30px;
            border-radius: 20px;
            left: calc(50% - 140px);
        }
    }

}

@media (max-width: 500px) {
    mat-card {
        padding: 40px 30px;
        
    }



    .input-send-mail-to-reset {
        input {
            padding: 18px 20px 18px 40px;
        }

        mat-icon {
            left: 15px;
        }
    }
}

@media (max-width: 450px) {
    mat-card {
        .back-arrow {
            left: 10px;
        }

        mat-card-content {
            padding: 16px 0;
        }
    }

    form {
        width: 110%;
    }
    .input-send-mail-to-reset {
        input {
            font-size: 16px;
        }
    }
}