mat-card {
  width: 100%;
  max-width: 606px;
  height: 80vh;
  max-height: 769px;
  border-radius: 30px;
  padding: 32px;

  mat-card-content {
    height: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;


    .back-arrow {
      height: 40px;
      width: 40px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      border-radius: 50%;

      &:hover {
        background-color: #797df36e;
        cursor: pointer;
      }
    }

    .photoupload-header {
      gap: 48px;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .close-icon {
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .card-headline {
      font-family: Nunito, sans-serif;
      font-size: 46px;
      line-height: normal;
      font-weight: 700;
      color: #444DF2;
      padding: 0 48px;
      text-align: center;
    }

    .input-container {
      width: 100%;
    }

    .input-field-container {
      font-family: Nunito, sans-serif;
      font-size: 18px;
      line-height: normal;
      font-weight: 500;

      display: flex;
      flex-direction: column;
      border-radius: 100px;
      padding: 16px 24px;
      background-color: #ECEEFE;
      box-sizing: border-box;

      mat-icon {
        color: #686868;
        height: 24px;
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

      input {
        background-color: #ECEEFE;
        border: none;
        color: #686868;
        font-size: 18px;
        line-height: normal;

        &:focus {
          outline: none;
        }
      }

      &:hover {
        outline: 1px solid #686868;
      }

      &:focus-within,
      &:focus {
        outline: 1px solid #535AF1;
      }

    }

    .next-btn {
      align-self: end;
      padding: 12px 25px;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 700;
      color: white;
      background-color: #444DF2;
      border: none;

      &:disabled {
        cursor: default;
        pointer-events: none;
        color: rgba(0, 0, 0, 0.38);
        background-color: rgba(0, 0, 0, 0.12);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;

  input {
    width: 100%;
  }
}

.file-input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}

.file-upload-btn {
  border: 1px solid #797EF3;
  border-radius: 25px;
  padding: 12px 25px;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: #444DF2;


  &:hover {
    cursor: pointer;
  }
}

.upload-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  .error-container {
    height: 20px;
    width: 100%;

    .upload-error {
      color: #ed1e79;
      font-size: 14px;
      line-height: normal;
    }
  }

  span {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
  }

  .user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;

    .name {
      font-family: Nunito, sans-serif;
      font-size: 32px;
      line-height: normal;
      font-weight: 700;
      color: #000;
    }

    img {
      width: 160px;
      height: 160px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .avatar-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 6px;
    list-style-type: none;
    overflow: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    .avatar {
      &:hover {
        cursor: pointer;
      }
    }

    li>img {
      width: 60px;
    }
  }

  .personal-upload {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.devtools {
  position: absolute;
  bottom: 75px;
  left: 75px;
}
