<mat-card>
    <mat-card-content>
      <div class="photoupload-header">
        <img *ngIf="showBackArrow" routerLink="/register" class="back-arrow" src="./../../assets/img/go-back.png">
        <h1 class="card-headline">
          Wähle deinen Avatar
        </h1>
      </div>

      <div class="upload-content">

        <div class="user-data">
          <img [src]="imgSrcUrl">
          <h1 class="name">{{ fullName }}</h1>
        </div>

        <span>Aus der Liste wählen</span>
        <ul class="avatar-list">
          <li class="avatar" *ngFor="let avatar of defaultAvatars">
            <img [src]="avatar" (click)="onSelectedAvatar(avatar)">
          </li>
        </ul>

        <div class="personal-upload">
          <span>Eigenes Bild verwenden</span>
          <label class="upload-btn" mat-mini-fab color="primary">
            <input type="file" #fileInput class="file-input" (change)="onSelectedFile($event)">
            <button class="file-upload-btn" (click)="fileInput.click()">Datei hochladen</button>
          </label>

          <div class="file-upload" style="display: none;">
            {{ imgSrcUrl || "No file uploaded yet." }}
          </div>
        </div>
        <div class="error-container">
          <span class="upload-error" *ngIf="uploadErr">Bild muss kleiner als 500kb sein. Das Bild hat {{ filesize }} kb.</span>
        </div>


        <button (click)="handleNext()" type="submit" mat-flat-button color="primary"
          [disabled]="!imageSelected">Weiter</button>

      </div>

    </mat-card-content>

  </mat-card>
