@import '../../mixin.scss';

:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-card {
  width: 100%;
  max-width: 606px;
  max-height: 769px;
  min-height: 70vh;
  border-radius: 30px;
  padding: 32px;

  mat-card-content {
    height: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;

    .photoupload-header {
      gap: 48px;
      display: flex;
      flex-direction: column;
      position: relative;

      .headline-with-arrow {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .back-arrow {
          height: 40px;
          width: 40px;
          z-index: 99;
          border-radius: 50%;

          &:hover {
            background-color: #797df36e;
            cursor: pointer;
          }
        }

        .headline {
          @include flex-align-justify();
          flex: 1;

          h1 {
            margin-bottom: 0 !important;
            font-size: 37px;
            font-family: 'Nunito', sans-serif;
            line-height: 46px;
            font-weight: 700;
            color: #444DF2;
            text-align: center;
          }
        }

        .headline-side-space {
          width: 10%;
          @include flex-align-justify();
        }
      }

      .close-icon {

        &:hover {
          cursor: pointer;
        }
      }
    }

    .input-container {
      width: 100%;
    }

    .input-field-container {
      font-family: Nunito, sans-serif;
      font-size: 18px;
      line-height: normal;
      font-weight: 500;

      display: flex;
      flex-direction: column;
      border-radius: 100px;
      padding: 16px 24px;
      background-color: #ECEEFE;
      box-sizing: border-box;

      mat-icon {
        color: #686868;
        height: 24px;
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

      input {
        background-color: #ECEEFE;
        border: none;
        color: #686868;
        font-size: 18px;
        line-height: normal;

        &:focus {
          outline: none;
        }
      }

      &:hover {
        outline: 1px solid #686868;
      }

      &:focus-within,
      &:focus {
        outline: 1px solid #535AF1;
      }

    }

    .next-btn {
      align-self: end;
      padding: 12px 25px;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 700;
      color: white;
      background-color: #444DF2;
      border: none;

      &:disabled {
        cursor: default;
        pointer-events: none;
        color: rgba(0, 0, 0, 0.38);
        background-color: rgba(0, 0, 0, 0.12);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;

  input {
    width: 100%;
  }
}

.file-input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}

.file-upload-btn {
  border: 1px solid #797EF3;
  border-radius: 25px;
  padding: 12px 25px;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: #444DF2;
  white-space: nowrap;


  &:hover {
    cursor: pointer;
  }
}

.upload-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  .error-container {
    height: 20px;
    width: 100%;

    .upload-error {
      color: #ed1e79;
      font-size: 14px;
      line-height: normal;
    }
  }

  span {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
  }

  .user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;

    .name {
      font-family: Nunito, sans-serif;
      font-size: 32px;
      line-height: normal;
      font-weight: 700;
      color: #000;
    }

    img {
      width: 160px;
      height: 160px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .avatar-select-area {
    width: 100%;
    margin: 16px 0;
    padding: 8px 0;

    .avatar-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 6px;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      overflow: auto;

      .avatar {
        &:hover {
          cursor: pointer;
        }
      }

      li > img {
        width: 60px;
      }
    }
  }

  .personal-upload {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.devtools {
  position: absolute;
  bottom: 75px;
  left: 75px;
}

@media (max-width: 450px) {
  mat-card {
    padding: 0 !important;
    //max-height: 80vh;
    min-height: unset;

    mat-card-content {
      gap: 12px;

      .photoupload-header {
        gap: 12px !important;

        .headline-with-arrow {
          .headline {
            h1 {
              font-size: 32px;
              line-height: 32px;
            }
          }
        }

      }

      .upload-content {
        .user-data {
          gap: 0;
        }
      }
    }
  }


}
