@import '../../../../mixin.scss';

.channelParticipants-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 320px;
    height: 360px;
    overflow-y: scroll;


    .title {
        @include flex-align-justify($jc: start);

        h2 {
            @include font-size-weight-color($fs: 24px, $fw: 500);
        } 
    }


    .currentUser {
        @include flex-align-justify($jc: start);
        margin-top: 8px;

        .profileImg-and-onlineStatus {
            position: relative;

            .profile-img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }

            .online-status { 
                position: absolute;
                right: 1px;
                bottom: 2px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
            }
        }

        span {
            margin-left: 12px;
            @include font-size-weight-color($fs: 19px, $fw: 500);
        }
    }
    

    .participant {
        @include flex-align-justify($jc: start);
        margin-top: 8px;
        border-radius: 30px;

        &:hover {
            cursor: pointer;
            background-color: $backgroundHover;
        }

        .profileImg-and-onlineStatus {
            position: relative;

            .profile-img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }

            .online-status { 
                position: absolute;
                right: 1px;
                bottom: 2px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
            }
        }

        span {
            margin-left: 12px;
            @include font-size-weight-color($fs: 19px);
        }
    }


    .online {
        content: url('./../../../../assets/img/online.png');
    }
    
    .offline {
        content: url('./../../../../assets/img/offline.png');
    }
    

    .addUser-container {
        @include flex-align-justify($jc: start);
        margin-top: 16px;
        border-radius: 30px;

        button {
            background-color: white;
            border: none;
            @include font-size-weight-color($fs: 17px);
        }

        &:hover {
            cursor: pointer;
            background-color: $backgroundHover;

            img {
                content: url('./../../../../assets/img/add_user_hover.png');
            }

            button {
                cursor: pointer;
                color: $fontHover;
                font-weight: 700;
                background-color: $backgroundHover;
            }
        }

    }
}

