<form class="search-bar">
  <input
    type="text"
    placeholder="Code learning durchsuchen"
    [formControl]="control"
    [matAutocomplete]="auto"
    class="example-input"
    [class.mat-autocomplete-panel-open]="isPanelOpen"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (opened)="isPanelOpen = true"
    (closed)="isPanelOpen = false"
  >
    @for (street of users; track street) {
    <mat-option [value]="street">{{ street }}</mat-option>
    }
  </mat-autocomplete>
  <img src="./assets/img/search.png" />
</form>

<button (click)="testTest()">TEST</button>
