@if (sidenavService.opened) {
<div class="main-container" [@fadeInOut]="sidenavService.opened ? 'open' : 'closed'">
    <mat-drawer-container class="sidenav-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" [opened]="sidenavService.opened">
            <app-search></app-search>
            <div class="inner-container">
                <!-- Headline with logo section -->
                <div class="headline-container">
                    <img src="./assets/img/devspace_logo.png">
                    <h1 class="project-font">Devspace</h1>
                </div>
                <!-- Show user channels section -->
                <div class="private-message-container">
                    <div class="private-message-headline-container">
                        <div class="dF" (click)="sidenavService.toggleSidenav('channels')">
                            <img class="img-arrow-channels" src="./assets/img/arrow_drop_down.png"
                                [ngStyle]="{'transform': sidenavService.showChannels ? 'rotate(0deg)' : 'rotate(270deg)'}">
                            <div class="headline-subcontainer-channels">
                                <img class="img-logo" src="./assets/img/workspaces.png">
                                <h2 class="private-headline project-font">Channels</h2>
                            </div>
                        </div>
                        <img class="add-icon" src="./assets/img/add_channel.png" (click)="openDialog()">
                    </div>
                    @if (sidenavService.showChannels) {
                    <div class="channels-container">
                        @for (user of selectedUser; track $index) {
                        <div class="channel-subcontainer">
                            @for (channel of channelTitles; track $index) {
                            <div class="channel" [routerLink]="['/dashboard/channel', channel.channelId]"
                                [routerLinkActive]="['active-channel']" (click)="sidenavService.toggleSidenavIfScreenIsSmall('sidenav')">
                                <img class="tag-img" src="./assets/img/tag.png">
                                <p>{{ truncateTitleName(channel.title, 18) }}</p>
                            </div>
                            }
                        </div>
                        }
                    </div>
                    }
                    @if (sidenavService.showChannels) {
                    <div class="add-channel-container">
                        <div class="add-channel-subcontainer" (click)="openDialog()">
                            <img src="./assets/img/add_circle.png">
                            <p>Channel hinzufügen</p>
                        </div>
                    </div>
                    }
                </div>
                <!-- Show user direct messages section -->
                <div class="private-message-container">
                    <div class="private-message-headline-container" (click)="sidenavService.toggleSidenav('private')">
                        <img class="img-arrow" src="./assets/img/arrow_drop_down.png"
                            [ngStyle]="{'transform': sidenavService.showDirectMessages ? 'rotate(0deg)' : 'rotate(270deg)'}">
                        <div class="headline-subcontainer">
                            <img class="img-logo" src="./assets/img/private_message_logo.png">
                            <h2 class="private-headline project-font">Direktnachrichten</h2>
                        </div>
                    </div>
                    @if (sidenavService.showDirectMessages) {
                    <div class="direct-message-user-container">
                        @for (user of selectedUser; track $index) {
                        <div class="user-subcontainer">
                            @for (chat of directMessageTitle; track $index) {
                            <div class="user-container" [routerLink]="['/dashboard/chat', chat.id]"
                                [routerLinkActive]="['active-user']" (click)="sidenavService.toggleSidenavIfScreenIsSmall('sidenav')">
                                <div class="profile-img-container" [routerLink]="['/dashboard/chat', chat.id]">
                                    <img class="profile-img" src="{{ chat.imageUrl }}" referrerpolicy="no-referrer">
                                    @if (chat.onlineStatus === 'online') {
                                    <img class="online-status" src="./assets/img/online.png">
                                    }
                                    @if (chat.onlineStatus === 'offline') {
                                    <img class="online-status" src="./assets/img/offline.png">
                                    }
                                </div>
                                <div>
                                    <p>{{ chat.name }}</p>
                                </div>
                            </div>
                            }
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
        </mat-drawer>
    </mat-drawer-container>
</div>
}
<!-- Images for buttons to open or close the sidenav -->
@if (sidenavService.opened) {
<img class="img-as-button" src="./assets/img/sidemenu_close_normal.png" (click)="sidenavService.toggleSidenav('sidenav')">
}
@if (!sidenavService.opened) {
<img class="img-as-button-open" src="./assets/img/sidemenu_open_normal.png" (click)="sidenavService.toggleSidenav('sidenav')">
}