@import '../../../mixin.scss';

.main-container {
    margin-left: 20px;
    margin-top: 20px;
}

.sidenav-container {
    border: unset;
    width: 366px;
    height: calc(100vh - 180px);
    border-radius: 30px;
}

.sidenav-content {
    @include flex-align-justify();
    height: calc(100vh - 180px);
    width: 0;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.sidenav {
    padding: 32px 30px;
    height: calc(100vh - 180px);
    width: 366px;
}

.img-as-button {
    position: fixed;
    left: 0;
    top: 70%;
    transform: translateY(-50%);
    z-index: 10;
}

.devspace-headline {
    font-size: 24px;
    font-weight: 700;
}

.headline-container {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;

    h1 {
        margin: 0;
    }
}

.edit-square-img {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.profile-img-container {
    position: relative;
    width: 60px;
    height: 60px;
}

.profile-img {
    height: 60px;
    width: 60px;
}

.tag-img {
    height: 24px;
    width: 24px;
}

.online-status {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.private-message-container {
display: flex;
flex-direction: column;
gap: 32px;
}

.private-headline {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.private-message-headline-container {
    display: flex;
    align-items: center;
}

.img-arrow {
    height: 30px;
    width: 30px;
}

.img-logo {
    height: 24px;
    width: 24px;
}

.direct-message-user-container {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 32px;

    p {
        margin: 0;
        font-size: 18px;
    }
}

.channels-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 32px;

    p {
        margin: 0;
        font-size: 18px;
    }
}

.headline-subcontainer {
    display: flex;
    align-items: center;
    gap: 16px;
}