@import '../../mixin.scss';

mat-card {
    box-shadow: 0px 2px 10px 0px #00000014;
    width: 90%;
    max-width: 698px;
    max-height: 469px;
    min-height: 50vh;
    border-radius: 30px;
    padding: 18px 32px;

    mat-card-content {
        height: 100%;
        display: flex;
        gap: 48px;
        flex-direction: column;             
    }
}

.reset-password-header {
    gap: 48px;
    @include flex-align-justify();
    flex-direction: column;
    position: relative;

    .back-arrow {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;

        &:hover {
            cursor: pointer;
        }
    }   

    h1 {
        margin: 0;
        @include font-size-weight-color($fs: 46px, $fw: 700, $cl: #444DF2);
    }
    span {
        @include font-size-weight-color($fs: 20px, $fw: 400);
    }
}

.input-send-mail-to-reset {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    input {
        @include font-size-weight-color($fw: 500);
        width: 100%;
        padding: 18px 70px;
        border-radius: 100px;
        border: none;
        background-color: #ECEEFE;

        &:focus {
            outline: 1px solid #535AF1;
        }

        &:hover {
            cursor: pointer;
            outline: 1px solid #686868;
        }
    }

    mat-icon {
        position: absolute;
        left: 20px;
    }
}

.input-errormessage {
    width: 100%;

    p {
        text-align: left;
    }
}

.show-error-message {
    color: #ED1E79 !important;
}

.hide-error-message {
    color: transparent;
}