<mat-card>
    <mat-card-content>
        <a [routerLink]="['/login']" class="back-arrow">
            <img class="back-arrow-no-hover" src="assets/img/arrow_back.png">
            <img class="back-arrow-hover" src="assets/img/arrow_back_hover.png" alt="">
        </a>
        <div class="reset-password-header">
            <h1>
                Passwort zurücksetzen
            </h1>
            <span>
                Bitte geben Sie Ihre E-Mail-Adresse ein.
            </span>
        </div>
        <form [formGroup]="emailData" (ngSubmit)="sendEmailResetPassword()">
            <div class="input-errormessage">
                <div class="space-for-errormessage">
                    <div class="input-send-mail-to-reset">
                        <mat-icon>mail_outline</mat-icon>
                        <input required formControlName="email" type="email" placeholder="beispielname@email.com">
                    </div>
                    <p *ngIf="emailData.get('email')?.hasError('email')" class="show-error-message">*Diese E-Mail-Adresse ist ungültig.</p>
                </div>
                <span>
                    Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
                </span>
            </div>
            <div class="reset-password-btn-field">
                <button class="login-btn" type="submit" [class.disabled-btn]="!emailData.valid" [disabled]="!emailData.valid">E-Mail senden</button>
            </div>
        </form>

    </mat-card-content>
</mat-card>

<div class="send-email-banner-field">
    <div class="send-email-banner" [@emailBanner]="bannerState">
        <img src="assets/img/send.png" alt="">
        <span>E-Mail gesendet</span>
    </div>
</div>