<mat-card>
    <mat-card-content>
        <div class="reset-password-header">
            <img routerLink="/login" class="back-arrow" src="./../../assets/img/go-back.png">
            <h1>
                Passwort zurücksetzen
            </h1>
            <span>
                Bitte geben Sie Ihre E-Mail-Adresse ein.
            </span>
        </div>

        <div class="input-errormessage">
            <div class="input-send-mail-to-reset">
                <mat-icon>mail_outline</mat-icon>
                <input formControlName="email" type="email" placeholder="beispielname@email.com">
            </div>
            <p [class.show-error-message]="logInFalse" class="hide-error-message">
                *Diese E-Mail-Adresse ist leider ungültig.
            </p>
        </div>
    </mat-card-content>
</mat-card>