<div>
    <div> {{ formattedTimestamp() }} </div>
    <div> {{ thread.messages }} </div>
    <br>
    <br>
</div>


<div class="channel-chat-message">
    <div class="channel-chat-content">
        <div class="channel-chat-time-sender">
            <span>15:06 Uhr</span>
            <h3>Frederick Beck</h3>
        </div>
        <span class="message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quaerat voluptatibus inventore esse distinctio pariatur impedit,
            aliquam minima nesciunt excepturi natus cumque explicabo.
            Asperiores architecto veritatis sed voluptas possimus dolores neque!
        </span>
        <div class="chat-reactions"></div>
    </div>
    <div class="channel-chat-sender-img">
        <img src="https://firebasestorage.googleapis.com/v0/b/da-bubble-4a31a.appspot.com/o/avatar_1.png?alt=media&token=76a558f3-7364-4591-8b0d-9084a608438d"
            alt="">
    </div>
</div>