<div>
    <div> {{ formattedDatestamp() }} </div>
    <div> {{ thread.messages }} </div>
    <br>
    <br>
</div>


<div class="channel-chat-message">
    <div class="channel-chat-content">
        <div class="channel-chat-time-sender">
            <span>{{ formattedTimeStamp() }}</span>
            <h3>{{ this.thread.messages[0].sender.name }}</h3>
        </div>
        <span class="message">
            {{ this.thread.messages[0].content }}
        </span>
        <div class="chat-reactions"></div>
    </div>
    <div class="channel-chat-sender-img">
        <img src="{{ this.thread.messages[0].sender.imageUrl }}"
            alt="">
    </div>
</div>