<div>
    <div> {{ formattedDatestamp() }} </div>
    <br>
</div>

<div class="channel-chat-message" [class.other-users-channel-chat-message]="!isCurrentUser">

    <div class="reaction-menu" [class.set-reaaction-menu-hover]="setReactionMenuHover">

        <div class="icon" (click)="messageReaction.reactToThread(thread.messages[0], 'check-mark.png')">
            <img src="../../../../assets/img/check-mark.png" alt="">
        </div>

        <div class="icon" (click)="messageReaction.reactToThread(thread.messages[0], 'hands-up.png')">
            <img src="../../../../assets/img/hands-up.png" alt="">
        </div>

        <app-emoji-mart [emojiImg]="'emoji-reaction.png'" [emojiImgHover]="'emoji-reaction-hover.png'"
            [assigningComponent]="'MessageReactionComponent'" [threadId]="thread.threadId">
        </app-emoji-mart>

        <div class="icon">
            <img class="not-hover-icon" src="../../../../assets/img/comment.png" alt="">
            <img class="hover-icon" src="../../../../assets/img/comment-hover.png" alt=""
                (click)="openThread(this.thread)">
        </div>

        <div class="icon" *ngIf="isCurrentUser">
            <img class="not-hover-icon" src="../../../../assets/img/dots.png" alt="">
            <button class="hover-icon" mat-button [matMenuTriggerFor]="editMessage" (click)="setHoverMenu()">
                <img src="../../../../assets/img/dots-hover.png" alt="">
            </button>
            <mat-menu class="edit-message-btn" #editMessage="matMenu">
                <button mat-menu-item (click)="editThreadMessage()">Nachricht bearbeiten</button>
            </mat-menu>
        </div>

    </div>

    <div class="channel-chat-content">
        <div class="channel-chat-time-sender">
            <span>{{ formattedTimeStamp() }}</span>
            <h3>{{ threadUser.name }}</h3>
        </div>

        <span class="message" *ngIf="!editMessage" [class.other-users-message]="!isCurrentUser">
            {{ thread.messages[0].content }}
        </span>

        <div class="message-textarea" *ngIf="editMessage">
            <textarea #editMessageBox>{{ thread.messages[0].content }}</textarea>
            <div class="edit-message-btns">
                <span (click)="cancelEditMessage()">Abbrechen</span>
                <span (click)="saveEditMessage(this.thread)">Speichern</span>
            </div>
        </div>

        <div class="reaction-and-answercount">

            <span *ngIf="thread.messages.length > 1 && thread.messages.length < 3">
                {{ thread.messages.length - 1 }} Antwort
            </span>

            <span *ngIf="thread.messages.length >= 3">
                {{ thread.messages.length - 1 }} Antworten
            </span>

            <div class="reaction-bar">
                <app-message-reaction [threadMessage]="thread.messages[0]" [thread]="thread"
                    [currentUser]="channelChat.currentUser"></app-message-reaction>
                <app-emoji-mart [emojiImg]="'emoji-reaction.png'" [emojiImgHover]="'emoji-reaction-hover.png'"
                    [assigningComponent]="'MessageReactionComponent'" [threadId]="thread.threadId"
                    *ngIf="thread.messages[0].emojiReactions.length > 0">
                </app-emoji-mart>
            </div>
            
        </div>

    </div>

    <div class="channel-chat-sender-img">
        <img src="{{ threadUser.imageUrl }}" alt="">
    </div>

</div>