@import '../../../../mixin.scss';
@import '../../../../font.scss';

.channel-chat-message {
    position: relative;
    @include flex-align-justify($ai: flex-start);
    gap: 30px;
    padding: 10px 45px;

    &:hover {
        background-color: #ECEEFE;

        .reaction-menu {
            display: flex;
        }

    }

    .channel-chat-content {
        width: 100%;
        padding-left: 90px;
        @include flex-align-justify($ai: flex-end);
        flex-direction: column;
        gap: 8px;

        .message {
            display: flex;
            flex-direction: column;
            padding: 15px;
            border-radius: 30px 0 30px 30px;
            background-color: #797EF3;
            @include font-size-weight-color($cl: #FFFFFF);

            embed {
                width: 180px;
                height: 150px;
            }

            img {
                width: 200px;
                border-radius: 10px;
            }

            a {
                img {
                    width: 24px;
                    border-radius: unset;
                }
            }
        }

        .message-textarea {

            .message-textarea-content {
                display: flex;
                flex-direction: column;
                padding: 15px;
                border-radius: 30px 0 30px 30px;
                background-color: #797EF3;

                textarea {
                    @include font-size-weight-color($cl: #FFFFFF);
                    background-color: #797EF3;
                    resize: none;
                    border: none;

                    &:focus {
                        outline: none
                    }
                }

                .img-container {
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    embed {
                        width: 180px;
                        height: 150px;
                    }

                    .delete-icon {
                        cursor: pointer;
                        position: absolute;
                        top: -10px;
                        right: 0px;
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 100%;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.8);
                        }
                    }

                    .message-img {
                        width: 200px;
                        border-radius: 10px;
                    }
                }
            }

            .edit-message-btns {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;

                span {
                    cursor: pointer;
                    color: #535AF1;

                    &:hover {
                        color: #444DF2;
                        font-weight: 700;
                    }
                }
            }
        }

        .channel-chat-time-sender {
            @include flex-align-justify();
            text-align: end;
            gap: 20px;

            span {
                text-wrap: nowrap;
                @include font-size-weight-color($fs: 14px, $cl: #686868)
            }

            h3 {
                cursor: pointer;
                margin: 0;
                @include font-size-weight-color($fw: 700);

                &:hover {
                    color: #444DF2;
                }
            }
        }

        .chat-reactions {
            height: 40px;
            width: 100%;
        }
    }

    .channel-chat-sender-img {
        height: 100%;
        @include flex-align-justify($ai: flex-start);

        img {
            width: 64px;
            height: 64px;
            border-radius: 100%;
        }
    }
}

.download-icon {
    display: flex;
    justify-content: right;
    padding-top: 10px;

    a {
        img {
            width: 24px;
        }
    }
}

::ng-deep .reaction-menu {
    position: absolute;
    top: -35px;
    left: 5%;
    @include flex-align-justify();
    gap: 5px;
    background-color: #FFFFFF;
    border: 1px solid #ADB0D9;
    border-radius: 25px 25px 0 25px;
    padding: 3px 15px 3px 20px;
    display: none;

    .mdc-button {
        min-width: unset;
    }

    .icon {
        cursor: pointer;
        @include flex-align-justify();
        width: 40px;
        height: 40px;

        .hover-icon {
            display: none;
        }

        button {
            border-radius: 100%;
        }

        &:hover {
            background-color: #ECEEFE;
            border-radius: 100%;

            .not-hover-icon {
                display: none;
            }

            .hover-icon {
                display: flex;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.reaction-and-answercount {
    width: 100%;
    @include flex-align-justify($jc: space-between);

    span {
        padding: 5px 10px;
        text-wrap: nowrap;
        cursor: pointer;
        @include font-size-weight-color($cl: #535AF1);

        &:hover {
            font-weight: 700;
            background-color: #FFFFFF;
            border-radius: 30px;
        }
    }
}

.reaction-bar {
    @include flex-align-justify($jc: right);
    width: 100%;
}

::ng-deep .edit-message-btn {
    .mat-mdc-menu-item-text {
        cursor: pointer;
        font-family: 'Nunito', sans-serif !important;
        padding: 10px 20px !important;
        margin-top: 7px !important;
        border-radius: 100px !important;
        @include font-size-weight-color($fs: 20px !important, $fw: 600 !important);

        &:hover {
            @include font-size-weight-color($fs: 20px !important, $cl: #535AF1);
            background-color: #ECEEFE;
        }
    }
}

.set-reaaction-menu-hover {
    display: flex;
}

/*is not currentUser*/

.other-users-channel-chat-message {
    flex-direction: row-reverse !important;

    .reaction-menu {
        left: unset;
        right: 5%;
    }

    .channel-chat-content {
        align-items: flex-start !important;
        padding-left: 0 !important;
        padding-right: 90px;
    }

    .channel-chat-time-sender {
        flex-direction: row-reverse !important;
        text-align: left !important;
    }

    .message {
        border-radius: 0px 30px 30px 30px !important;
        background-color: #ECEEFE !important;
        @include font-size-weight-color($cl: #000000 !important);
    }

    &:hover {

        .message,
        .message-textarea {
            background-color: #FFFFFF !important;
        }
    }

    .message-textarea {

        textarea {
            border-radius: 0px 30px 30px 30px !important;
            background-color: #ECEEFE !important;
            @include font-size-weight-color($cl: #000000 !important);

            &:focus {
                outline: none
            }
        }
    }
}



@media (max-width: 550px) {
    .channel-chat-message {
        gap: 15px;

        .channel-chat-content {
            padding-left: 0;
            padding-right: 0;
        }

        .message {
            embed {
                width: 130px;
                height: 150px;
            }

            img {
                width: 180px !important;
            }

            .download-icon {
                img {
                    width: 24px !important;
                }
            }
        }
    }
}