@import '../../mixin.scss';

.photo-upload-container {
  @include flex-align-justify();
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo {
  height: 55px;
  position: absolute;
  left: 32px;
  top: 32px;
}

.footer-links {
  display: flex;
  gap: 24px;
  position: absolute;
  bottom: 24px;
  margin-left: auto;
  margin-right: auto;

  a {
    color: #797EF3;
    font-size: 18px;
    line-height: normal;
    font-family: Nunito, sans-serif;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 450px) {

  .photo-upload-container {
    gap: 24px;

    .logo {
      position: unset;
      max-width: 40%;
      height: unset;
    }

    .footer-links {
      display: none;
    }
  }
}

