@defer (on idle; prefetch on idle) {

    <div class="user-chat-message" [class.recipient-user-chat-message]="!isCurrentUser">
    
      <div class="reaction-menu" [class.set-reaction-menu-hover]="setReactionMenuHover">
    
        <div class="icon" (click)="messageReaction.reactToMessage(message, 'check-mark.png')">
          <img src="assets/img/check-mark.png">
        </div>
    
        <div class="icon" (click)="messageReaction.reactToMessage(message, 'hands-up.png')">
          <img src="assets/img/hands-up.png">
        </div>
    
        <app-emoji-mart [emojiImg]="'emoji-reaction.png'" [emojiImgHover]="'emoji-reaction-hover.png'"
          [assigningComponent]="'UserChatMessageReactionComponent'" [threadId]="message.senderId" [message]="message">
        </app-emoji-mart>
    
        <div class="icon" *ngIf="isCurrentUser">
          <img class="not-hover-icon" src="assets/img/dots.png">
          <button class="hover-icon" mat-button [matMenuTriggerFor]="editMessage" (click)="setReactionMenuHover = true">
            <img src="assets/img/dots-hover.png">
          </button>
          <mat-menu class="edit-message-btn" #editMessage="matMenu">
            <button mat-menu-item (click)="editThreadMessage()">Nachricht bearbeiten</button>
            <button class="delete-btn" mat-menu-item (click)="dataService.deleteMessage(message)">Nachricht löschen</button>
          </mat-menu>
        </div>
    
      </div>
    
      <div class="channel-chat-content">
        <div class="channel-chat-time-sender">
          <span>{{ formattedTimeStamp() }}</span>
          <h3>{{ messageOwner.name }}</h3>
        </div>
        <div class="message" *ngIf="!editMessage">
          <img *ngIf="message.imgFileURL.length > 1" src="{{ message.imgFileURL }}">
          <span [class.other-users-message]="!isCurrentUser">
            {{ message.content }}
          </span>
        </div>
    
        <div class="message-textarea" *ngIf="editMessage">
          <div class="message-textarea-content">
            <div class="img-container" *ngIf="message.imgFileURL.length > 1">
              <img class="delete-icon" src="assets/img/close.png" (click)="deleteImg(this.message)">
              <img class="message-img" src="{{ message.imgFileURL }}">
            </div>
              <textarea #editMessageBox>{{ message.content }}</textarea>
          </div>
          <div class="edit-message-btns">
            <span (click)="cancelEditMessage()">Abbrechen</span>
            <span (click)="saveEditMessage(this.message)">Speichern</span>
          </div>
        </div>
    
        <div class="reaction-and-answercount">
    
          <span *ngIf="message.replies.length == 1"> 1 Antwort </span>
    
          <span *ngIf="message.replies.length > 1"> {{ message.replies.length }} Antworten </span>
    
          <div class="reaction-bar">
            <app-user-chat-message-reaction  [message]="message"
              [currentUser]="currentUser"></app-user-chat-message-reaction>
            <app-emoji-mart [emojiImg]="'emoji-reaction.png'" [emojiImgHover]="'emoji-reaction-hover.png'"
              [assigningComponent]="'MessageReactionComponent'" [threadId]="message.senderId"
              *ngIf="message.emojiReactions.length > 0">
            </app-emoji-mart>
          </div>
        </div>
    
      </div>
    
      <div class="channel-chat-sender-img">
        <img src="{{ messageOwner.imageUrl }}" alt="">
      </div>
    
    </div>
    }

