<div class="editChannel-container">
  <div class="title-and-closeButton">
    <h2># {{ currentChannel.title }} </h2>
    <div (click)="closeMenu()">
      <img src="assets/img/close.png">
    </div>
  </div>

  <div class="editChannelName">
    <div class="editChannelName-header">
      <div>Channel-Name</div>
      <button>Bearbeiten</button>
    </div>
    <div class="editChannelName-title"> # {{ currentChannel.title }} </div>
  </div> 

  <div class="editChannelDescription">
    <div class="editChannelName-header">
      <div>Channel-Name</div>
      <button>Bearbeiten</button>
    </div>
    <div class="editChannelName-title"> # {{ currentChannel.title }} </div>
  </div> 
  

  <div class="leaveButton-container">
    <button class="leaveChannel-button"  (click)="leaveChannel()">Channel verlassen</button>
  </div>
</div>
