@import '../../../mixin.scss';

h2,
h3 {
    margin: 0;
}

h2 {
    @include font-size-weight-color($fs: 24px, $fw: 700)
}

h3 {
    @include font-size-weight-color($fw: 700);

    span {
        @include font-size-weight-color($cl: #686868 !important)
    }
}

input {
    border: unset;
    outline: none;

    &:focus {
        border-color: #444DF2 !important;
    }
}

.add-channel-card {
    box-shadow: 0px 6px 10px 0px #00000033;
    max-width: 872px;
    max-height: 540px;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 40px;
    @include flex-align-justify($ai: start, $jc: space-between);
    flex-direction: column;
    gap: 20px;
    position: relative;

    span {
        @include font-size-weight-color();
    }

    div {
        width: 100%;
    }

    img {
        position: absolute;
        right: 32px;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
        width: 100%;
        padding: 18px 40px;
        border: 1px solid #ADB0D9;
        border-radius: 40px;
        @include font-size-weight-color($cl: #686868)
    }
}

.btn-section {
    display: flex;
    justify-content: right;

    button {
        border-radius: 25px;
        border: none;
        padding: 12px 25px;
        @include font-size-weight-color($fw: 700, $cl: #FFFFFF);
    }
}

.btn-enabled {
    background-color: $purple;

    &:hover {
        background-color: $purpleHover;
        cursor: pointer;
    }
}

.btn-disabled {
    background-color: $deactivated;
}

.input-channel-name {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
    }

    img {
        height: 23px;
        width: 23px;
        position: absolute;
        left: 10px;
    }
}

.error-message-container {
    height: 20px;

    p {
        color: $errorRosa;
    }
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 30px;
}

@media (max-width: 650px) {
    ::ng-deep .mat-mdc-dialog-surface {
        overflow-y: unset;
    }

    ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
        max-width: none;
        height: 100vh;
    }

    .add-channel-card {
        max-height: none;
        max-width: none;
        height: 100vh;
        padding: 40px 20px;
        justify-content: unset;
        border-radius: 0;
    }

    span {
        font-size: 16px !important;
    }

    ::ng-deep .mat-mdc-dialog-container {
        --mdc-dialog-container-shape: 0px !important;
    }

    .input-section {
        input {
            font-size: 16px;
        }
    }
}