<div class="add-channel-card">
    <div>
        <h2>Channel erstellen</h2>
    </div>
    <span>
        Channels dienen deinem Team zur Kommunikation.
        Am besten sollten sie themenbezogen sein #marketing zum
        Beispiel.
    </span>
    <div class="input-section">
        <h3>Channel-Name</h3>
        <input [(ngModel)]="channelName" type="text" placeholder="z.B. Kooperationsprojekte">
    </div>
    <div class="input-section">
        <h3>Beschreibung <span>(optional)</span></h3>
        <input [(ngModel)]="channelDescription" type="text" placeholder="Dein Text hier">
    </div>
    <div class="btn-section">
        <button (click)="createChannel()">Erstellen</button>
    </div>
</div>