.header {
    display: flex;
    align-items: center;
}

.header-profile {
    display: flex;
    align-items: center;

    >p {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
    }
}

.profile-img {
    height: 70px;
    width: 70px;
}

.arrow-down {
    height: 30px;
    width: 30px;
}

.logo {
    height: 70px;
    width: 243px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: unset;
    padding: 5px;
    position: relative;



    >input {
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 8px;
        border-radius: 42px;
        width: 989px;
        height: 60px;
        font-size: 24px;
    }

    >img {
        position: absolute;
        right: 20px;
    }
}