<div class="header">
  <img class="logo" src="./assets/img/dabubble_header_logo.png">

  <form class="search-bar">
    <input type="text" placeholder="Code learning durchsuchen" [formControl]="control" [matAutocomplete]="auto"
      class="example-input" [class.mat-autocomplete-panel-open]="isPanelOpen">
    <mat-autocomplete #auto="matAutocomplete" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
      @for (street of streets; track street) {
      <mat-option [value]="street">{{street}}</mat-option>
      }
    </mat-autocomplete>
    <img src="./assets/img/search.png">
  </form>


  @if (user) {
  <div [matMenuTriggerFor]="menu" class="header-profile">
    <span>{{ user.name }}</span>
    <div class="profile-img-container">
      <img class="profile-img" [src]="user.imageUrl">
      <div class="online-status" [class.online]="user.onlineStatus === 'online'"
        [class.offline]="user.onlineStatus === 'offline'" [class.away]="user.onlineStatus === 'away'"></div>
    </div>
    <img class="arrow-down" src="./../../../assets/img/header_arrow_down.png">
  </div>

  <mat-menu #menu xPosition="before" class="profile-menu">

    <ng-container *ngIf="!isProfileView; else profileContent">
      <button (click)="openProfile($event)" class="profile mat-button" mat-menu-item>Profil</button>
      <button (click)="logoutUser()" class="logout mat-button" mat-menu-item>Logout</button>
    </ng-container>

    <ng-template #profileContent>

      <ng-container *ngIf="isProfileView && !isProfileEditView; else editProfile">
        <app-profile-view [@fadeInOut] (editClicked)="switchToEdit()"></app-profile-view>
      </ng-container>

      <ng-template #editProfile>
        <app-profile-edit></app-profile-edit>
      </ng-template>

    </ng-template>

  </mat-menu>

  }
  @else {
  <div class="profile-placeholder"></div>
  }

</div>
