<span>User Auth Id: {{ userAuthId }}</span>
<div *ngIf="userAuthId">
  <br><hr><br>

  Check if editing email adress work
  <b>Please reload as its no Snapshot</b><br>
  Actual email adress is: <b>{{ email }}</b><br>
  <input [(ngModel)]="newEmail" type="text" placeholder="Type your new Email"><button (click)="changeEmail()">Change email</button><br>

  <br><hr><br>

  Check if editing fullname work
  <b>Please reload as its no Snapshot</b><br>
  Actual fullname is: <b>{{ fullname }}</b><br>
  <input [(ngModel)]="newFullname" type="text" placeholder="Type your new Fullname"><button (click)="changeFullname()">Change fullname</button>

  <br><br><hr><br>

  Delete the current User
  <button (click)="deleteUser()">Delete User</button>
</div>
