<div *ngFor="let date of groupedMessages | keyvalue">
  <div class="date-container">
    <div class="date-line"></div>
    <div class="date"> {{ dataService.formatDateForDisplay(date.key) }} </div>
    <div class="date-line"></div>
  </div>
  <div *ngFor="let message of date.value">

    <div class="channel-chat-message" [class.other-users-channel-chat-message]="currentUser.id != message.senderId">
      <div class="reaction-menu" [class.set-reaaction-menu-hover]="message.editMode">

        <app-emoji-mart [emojiImg]="'emoji-reaction.png'" [emojiImgHover]="'emoji-reaction-hover.png'"
          [assigningComponent]="'MessageReactionComponent'" [threadId]="thread.threadId" [message]="message">
        </app-emoji-mart>

        <div class="icon" *ngIf="message.sender.id == currentUser.id">
          <img class="not-hover-icon" src="assets/img/dots.png" alt="">
          <button class="hover-icon" mat-button [matMenuTriggerFor]="editMessage"
            (click)="setHoverReactionbar(message)">
            <img src="assets/img/dots-hover.png" alt="">
          </button>
          <mat-menu class="edit-message-btn" #editMessage="matMenu">
            <button mat-menu-item (click)="editThreadMessageReply(message)">Nachricht bearbeiten</button>
            <button class="delete-btn" mat-menu-item (click)="deleteThreadMessageReply(this.thread, message)">Nachricht
              löschen</button>
          </mat-menu>
        </div>

      </div>
      <div class="channel-chat-content">
        <div class="channel-chat-time-sender">
          <span>{{getFormattedTimeStamp(message.timestamp)}}</span>
          <h3>{{ message.sender.name }}</h3>
        </div>

        <div class="message" *ngIf="!message.editMode">
          <div *ngIf="message.imgFileURL.length > 1">
            <img *ngIf="message.imgFileURL.length > 1 && !message.imgFileURL.toLowerCase().includes('.pdf')"
              [src]="getImgUrlforPDF(message.imgFileURL)">
            <embed *ngIf="message.imgFileURL.length > 1 && message.imgFileURL.toLowerCase().includes('.pdf')"
              [src]="getImgUrlforPDF(message.imgFileURL)" />
            <div class="download-icon">
              <a *ngIf="message.imgFileURL.length > 1" [href]="getImgUrlforPDF(message.imgFileURL)" target="_blank"
                [download]="">
                <img src="assets/img/download-icon.png">
              </a>
            </div>
          </div>
          <span>
            {{ message.content }}
          </span>
        </div>

        <div class="message-textarea" *ngIf="message.editMode">
          <div class="message-textarea-content">
            <div class="img-container" *ngIf="message.imgFileURL.length > 1">
              <img *ngIf="message.imgFileURL.length > 1 && !message.imgFileURL.toLowerCase().includes('.pdf')"
                [src]="getImgUrlforPDF(message.imgFileURL)">
              <embed *ngIf="message.imgFileURL.length > 1 && message.imgFileURL.toLowerCase().includes('.pdf')"
                [src]="getImgUrlforPDF(message.imgFileURL)" />
              <div class="download-icon">
                <a *ngIf="message.imgFileURL.length > 1" [href]="getImgUrlforPDF(message.imgFileURL)" target="_blank"
                  [download]="">
                  <img src="assets/img/download-icon.png">
                </a>
              </div>
            </div>
            <textarea #editMessageReply>{{ message.content }}</textarea>
          </div>
          <div class="edit-message-btns">
            <span (click)="cancelEditMessage(message)">Abbrechen</span>
            <span (click)="saveEditMessage(this.thread, message)">Speichern</span>
          </div>
        </div>

        <div class="reaction-bar">
          <app-message-reaction [threadMessage]="message" [thread]="thread"
            [currentUser]="currentUser"></app-message-reaction>
          <app-emoji-mart [emojiImg]="'emoji-reaction.png'" [emojiImgHover]="'emoji-reaction-hover.png'"
            [assigningComponent]="'MessageReactionComponent'" [threadId]="thread.threadId"
            *ngIf="message.emojiReactions.length > 0">
          </app-emoji-mart>
        </div>

      </div>
      <div class="channel-chat-sender-img">
        <img src="{{ message.sender.imageUrl }}" alt="">
      </div>
    </div>
  </div>
</div>