.reauth-container {
  padding: 32px;
  box-sizing: border-box;
  min-width: 600px;
  min-height: 300px;

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
