<div class="main-container">
  <img class="logo" src="assets/img/logo-complete-black.png">
  <mat-card>
    <mat-card-content>
      <img (click)="goBack()" class="back-arrow" src="assets/img/go-back.png">
      <div class="imprint-content">
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG:</h2>
        <p><br>Hannes Pirhofer | Jan Horstmann | Julian Heupgen | Daniel Schneider</p>
        <h3>Postanschrift:</h3>
        <p>Schöne Aussicht 6<br>65329 Hohenstein<br></p>
        <h3>Kontakt:</h3>
        <p>Telefon: 061209269386<br>E-Mail: student&#64;dsc-mail.de</p>
        <p></p>
        <p><br></p>
        <p></p>
        <h2>Hinweise zur Website</h2>
        <p></p>
        <h2>Information gemäß § 36 VSBG</h2>
        <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
          Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
        <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
          teilzunehmen.</p>
        <p></p>
        <p><em>Das Impressum wurde mit dem <a
              href="https://www.activemind.de/datenschutz/generatoren/impressum/">Impressums-Generator der activeMind
              AG</a> erstellt.</em></p>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="footer-links">
    <a [routerLink]="['/dashboard']">Home</a>
    <a [routerLink]="['/imprint']">Impressum</a>
    <a [routerLink]="['/privacy']">Datenschutz</a>
  </div>
</div>