.channel-wrapper {
    height: 100%;
    margin: 20px 25px 20px 30px;
    border-radius: 30px;
}

mat-card-header {
    padding: 20px 20px;
    border-bottom: 3px solid rgba(97, 95, 95, 0.1);

    .channel-infos {
        display: flex;
        justify-content: space-between;
    }
}

.chat-history {
    height: 75%;
}

input {
    height: 100px;
    margin: 0 20px 0 20px;
    border-radius: 12px;
    border: 3px solid rgba(49, 49, 49, 0.3);
}

