@import '../../../mixin.scss';

.date-container {
    @include flex-align-justify();
    margin: 15px 0;

    .date-line {
        height: 1px;
        flex: 1 1 0;
        background-color: #b5b7f1;
    }

    .date {
        padding: 6px 16px;
        border-radius: 30px;
        border: 1px solid #b5b7f1;
        @include font-size-weight-color();
    }
}

.channel-wrapper {
    height: 100%;
    margin: 20px 25px 20px 30px;
    border-radius: 30px;
    justify-content: space-between;
}

.mat-mdc-card-header {
    display: unset;
}

mat-card-header {
    padding: 20px 20px;
    border-bottom: 3px solid rgba(97, 95, 95, 0.1);

    .channel-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-left-container {
            display: flex;
            align-items: center;
            border-radius: 30px;
            padding: 10px 18px;
            cursor: pointer;

            .title {
                @include font-size-weight-color($fs: 24px, $fw: 700);
            }

            &:hover {
                background-color: $backgroundHover;


                .title {
                    color: $fontHover;
                }

                .title-arrow {
                    content: url('./../../../assets/img/arrow_down_hover.png');
                    width: 15px;
                    height: 10px;
                    margin-left: 7px;
                }
            }
        }

        .header-right-container {
            display: flex;
            align-items: center;

            .participants-container {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 6px 10px 6px 25px;
                margin-right: 6px;
                border-radius: 30px;

                &:hover {
                    background-color: $backgroundHover;
                }

                .participants-img {
                    margin-left: -20px;
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                }

                .participant-counter {
                    padding: 0 18px 0 18px;
                    @include font-size-weight-color($fw: 600);

                    &:hover {
                        color: $fontHover;
                    }
                }
            }

            .addUser-btn {
                cursor: pointer;

                &:hover {
                    content: url('./../../../assets/img/add_user_hover.png');
                }
            }

            .showUser-btn {
                display: none;
                cursor: pointer;

                &:hover {
                    content: url('./../../../assets/img/add_user_hover.png');
                }
            }
        }
    }

}

::ng-deep .channelParticipants {
    border-radius: 30px 0 30px 30px !important;
    overflow: hidden;
}


.chat-history {
    height: 90%;
    overflow-y: auto;
}

.text-box {
    padding: 0 35px 35px 35px;
    width: 100%;

    textarea {
        resize: none;
        height: 145px;
        width: 100%;
        padding: 20px;
        border: 1px solid #ADB0D9;
        border-radius: 20px;
        @include font-size-weight-color();

        &::placeholder {
            @include font-size-weight-color($cl: #686868);
        }

        &:hover {
            border: 1px solid #797EF3;
        }

        &:focus {
            outline: 1px solid #535AF1;
        }
    }
}

.interactiv-btn-box {
    margin-top: -60px;
    @include flex-align-justify($jc: space-between);
    gap: 10px;
    width: 100%;
    padding: 0 20px
}

.interactive-btns {
    @include flex-align-justify();
    gap: 5px;
}

.border-line {
    height: 40px;
    border: 1px solid #ADB0D9
}

.address-message-to-user,
.send-message {
    @include flex-align-justify();
    width: 40px;
    height: 40px;
    cursor: pointer;

    button {
        cursor: pointer;
        @include flex-align-justify();
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: #FFFFFF;
        border: none;
    }

    .hover-icon {
        display: none;
    }

    &:hover {
        border-radius: 100%;

        button {
            background-color: #ECEEFE;
        }

        .not-hover-icon {
            display: none;
        }

        .hover-icon {
            display: flex;
        }
    }
}

::ng-deep .address-message-to-user-menu {
    .mat-mdc-menu-content {
        padding: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

.add-file-img-box {
    width: 100%;
    height: 10px;
    position: relative;
}

::ng-deep .mat-mdc-menu-item {
    &:not(:disabled) {
        &:hover {
            background-color: unset !important;
        }
    }
}

@media (max-width: 650px) {
    .participants-container {
        display: none !important;
    }

    .addUser-btn {
        display: none;
    }

    .showUser-btn {
        display: block !important;
    }

    .text-box {    
        textarea {
            height: 110px;
        }
    }
}

@media (max-width: 500px) {
    mat-card-header {
        text-wrap: nowrap;

        .channel-infos {
            .header-left-container {
                .title {
                    font-size: 20px;
                }
            }
        }
    }

    .channel-wrapper {
        height: 100%;
        margin: 20px 5px 20px 5px;
        border-radius: 30px;
    }
}

@media (max-width: 400px) {
    .text-box {
        padding: 0 15px 30px 15px;
    }
}