<div class="main-container">
  <img class="logo" src="./../../assets/img/logo-complete-black.png">
  <mat-card>
    <mat-card-content>
      <img (click)="goBack()" class="back-arrow" src="./../../assets/img/go-back.png">
      <p>
        DaBubble, eine Lernplattform und ein Slack-Klon für die Programmierung,
        sammelt und verwendet personenbezogene Daten ausschließlich für
        Funktions- und Bildungszwecke. Die Benutzerdaten werden sicher
        über Angular und Firebase verwaltet und gespeichert, unter
        Einhaltung von Industriestandards. DaBubble wurde von Studenten
        der Frontend-Entwicklung entwickelt und setzt sich für den Schutz
        der Privatsphäre der Nutzer und die Verbesserung der Bildungserfahrung ein.
      </p>
    </mat-card-content>
  </mat-card>

  <div class="footer-links">
    <a [routerLink]="['/dashboard']">Home</a>
    <a [routerLink]="['/imprint']">Impressum</a>
    <a [routerLink]="['/privacy']">Datenschutz</a>
  </div>

</div>
