<div class="main-container">
  <img class="logo" src="./../../assets/img/logo-complete-black.png">
  <mat-card>
    <mat-card-content>
      <img (click)="goBack()" class="back-arrow" src="./../../assets/img/go-back.png">
      DaBubble, a learning platform and Slack clone for programming, collects
      and uses personal data solely for functionality and educational purposes.
      User data is managed and stored securely via Angular and Firebase, adhering
      to industry standards. Developed by frontend development students,
      DaBubble is committed to protecting user privacy and improving the
      educational experience.
    </mat-card-content>
  </mat-card>

  <div class="footer-links">
    <a [routerLink]="['/imprint']">Impressum</a>
    <a [routerLink]="['/privacy']">Datenschutz</a>
  </div>

</div>
