<mat-card class="userChat-wrapper">
  <mat-card-header>
    <div class="userChat-infos" *ngIf="recipient">
      <div class="profileImg-and-onlineStatus">
        <img class="profile-img" src="{{ recipient.imageUrl }}">
        <img class="online-status" [class.online]="recipient.onlineStatus === 'online'"
          [class.offline]="recipient.onlineStatus === 'offline'">
      </div>
      <span>{{ recipient.name }}</span>
    </div>
  </mat-card-header>

  <!-- Chat history -->
  <div #threadContainer class="chat-history">
    <div class="emptyUserChat" *ngIf="emptyUserChat">Starte einen Chat !</div>

    @for(date of (groupedcurrentUserChatThreads$ | async) | keyvalue; track date.key) {
    <div *ngIf="date.value.length > 0" class="date-container">
      <div class="date-line"></div>
      <div class="date"> {{ dataService.formatDateForDisplay(date.key) }} </div>
      <div class="date-line"></div>
    </div>
    @for(item of date.value; track item.thread.timestamp) {
    <app-user-chat-thread [thread]="item.thread" [userChatId]="currentUserChat?.userChatId"
      [userChatIndex]="item.index">
    </app-user-chat-thread>
    }
    }
  </div>

  <!-- User Chat Input -->
  <form [formGroup]="channelThreadMessage" class="text-box" *ngIf="currentUserChatThreads">
    <div #imgBox class="add-file-img-box"></div>
    <textarea #threadMessageBox formControlName="channelMessage"
      placeholder="Nachricht an #{{ recipient.name }}"></textarea>
    <div class="interactiv-btn-box">
      <div class="interactive-btns">

        <app-add-img-to-message [showImgRef]="imgBox"></app-add-img-to-message>

        <div class="border-line"></div>

        <app-emoji-mart [emojiImg]="'emoticon.png'" [emojiImgHover]="'emoticon-hover.png'"
          [assigningComponent]="'UserChatComponent'"></app-emoji-mart>

      </div>

      <div class="send-message">
        <button class="not-hover-icon">
          <img src="assets/img/send-message.png" alt="">
        </button>
        <button type="submit" class="hover-icon" (click)="sendMessage(); removeChatInput()">
          <img src="assets/img/send-message-hover.png" alt="">
        </button>
      </div>
    </div>
  </form>
</mat-card>