.dashboard {
    height: 100vh;
}

.sidenav-and-router {
    display: flex;
    padding: 0 24px 24px 24px;
}

app-full-thread {
    height: calc(100vh - 180px);
    width: min-content;
}

@media (max-width: 1400px) {
    app-full-thread {
        position: absolute;
        right: 25px;
    }
}

@media (max-width: 1050px) {
    app-sidenav {
        position: absolute;
        left: 5px;
        z-index: 2;
    }
}