.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav-and-router {
    display: flex;
    justify-content: center;
    padding: 0 24px 24px 24px;
    position: relative;
    width: 100%;
    max-width: 1920px;
}

app-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

app-full-thread {
    height: calc(100vh - 180px);
    width: min-content;
}

@media (max-width: 1400px) {
    app-full-thread {
        position: absolute;
        right: 25px;
    }
}

@media (max-width: 1050px) {
    app-sidenav {
        position: absolute;
        left: 5px;
        z-index: 2;
    }
}

@media (max-width: 800px) {
    app-full-thread {
        width: auto;
        left: 25px;
    }
}

@media (max-width: 650px) {
    .sidenav-and-router {
        padding-left: 0;
        padding-right: 0;
    }

    app-full-thread {
        height: calc(100vh - 110px);
        right: 5px;
        left: 5px;
    }

    app-sidenav {
        left: 0;
        width: 100%;
    }
}