<div class="add-channel-card">
    <img class="close-img" src="./assets/img/close.png" (click)="this.dialog.closeAll()">
    <div>
        <h2 class="project-font">Leute hinzufügen</h2>
    </div>

    <!-- Container for option selection -->
    <div class="input-section">
        <div class="choose-member">
            <mat-radio-group [(ngModel)]="selectedOption" class="checkbox-inputs">
                <mat-radio-button value="all">
                    <p>Alle Mitglieder von <span>DevTeam</span> hinzufügen</p>
                </mat-radio-button>
                <mat-radio-button value="specific">
                    <p>Bestimmte Leute hinzufügen</p>
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <!-- Select single users to add to channel -->
    @if (selectedOption === 'specific') {
    <div class="input-section">
        <form>
            <input type="text" placeholder="Benutzer durchsuchen" [formControl]="userControl" [matAutocomplete]="auto"
                class="example-input" [class.mat-autocomplete-panel-open]="isPanelOpen">
            <mat-autocomplete #auto="matAutocomplete" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
                @for (user of filteredUsers | async; track $index) {
                <mat-option [value]="user.name" (onSelectionChange)="toggleUserSelection(user.id, user.name)">
                    <img class="user-chip-img" src="{{ getUserImg(user.id) }}" referrerpolicy="no-referrer">
                    <p class="project-font">{{ user.name }}</p>
                </mat-option>
                }
            </mat-autocomplete>
        </form>

        <!-- Show selected users as chips -->
        @if (selectedUsersIds.length > 0) {
        <div class="chips-container">
            <input style="display: none;" [matChipInputFor]="chipGrid" [matChipInputAddOnBlur]="true" />
            <mat-chip-grid #chipGrid>
                @for (userId of selectedUsersIds; track $index) {
                <mat-chip-row class="mat-chip-row" [removable]="true" (removed)="removeUser(userId)">
                    <div class="chip-subcontainer">
                        <img class="user-chip-img" src="{{ getUserImg(userId) }}" referrerpolicy="no-referrer">
                        <p>
                            {{ getUserName(userId) }}
                        </p>
                    </div>
                    <button matChipRemove (click)="removeUser(userId)"><img src="./assets/img/close.png"></button>
                </mat-chip-row>
                }
            </mat-chip-grid>
        </div>
        }
    </div>
    }
    <div class="btn-section">
        <button
            [ngClass]="{'btn-enabled': (selectedOption === 'all' || (selectedOption === 'specific' && selectedUsers.length > 0)), 'btn-disabled': !(selectedOption === 'all' || (selectedOption === 'specific' && selectedUsers.length > 0))}"
            [disabled]="!(selectedOption === 'all' || (selectedOption === 'specific' && selectedUsers.length > 0))"
            (click)="save()">Erstellen</button>
    </div>
</div>