@import './font.scss';

@mixin flex-align-justify($ai: center, $jc: center) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
}

@mixin display-align-justify($disp: flex, $ai: center, $jc: center) {
  display: $disp;
  align-items: $ai;
  justify-content: $jc;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}
