@import './font.scss';

@mixin flex-align-justify($ai: center, $jc: center) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
}

@mixin display-align-justify($disp: flex, $ai: center, $jc: center) {
  display: $disp;
  align-items: $ai;
  justify-content: $jc;
}

@mixin font-size-weight-color($fs: 18px, $fw:400, $cl: #000000) {
  font-size: $fs;
  font-weight: $fw;
  color: $cl;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}


$backgroundHover: #ECEEFE;
$fontHover: #535AF1;