@import '../../../mixin.scss';
@import '../../../font.scss';

.open-thread {
    border-radius: 30px;
    background-color: #FFFFFF;
    margin: 20px 0;    
    min-width: 410px;
    width: 50%;
    height: 100%;
}

.thread-header {
    @include flex-align-justify($jc: space-between);
    padding: 32px 20px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 2px 10px 0px #00000014;

    .headline {
        @include flex-align-justify();
        gap: 5px;
        h2 {
            font-family: 'Nunito', sans-serif !important;
            margin: 0;
            @include font-size-weight-color($fs: 24px, $fw: 700);
        }
        span {
            @include font-size-weight-color($fs: 14px, $cl: #797EF3)
        }
    }
}

.channel-history {
    height: 50%;
}

.channel-chat-message {
    position: relative;
    @include flex-align-justify($ai: flex-start);
    gap: 30px;
    padding: 10px 45px;

    &:hover {
        background-color: #ECEEFE;

        .reaction-menu {
            display: flex;
        }
    }

    .channel-chat-content {
        width: 100%;
        @include flex-align-justify($ai: flex-end);
        flex-direction: column;
        gap: 8px;

        .message {
            padding: 15px;
            border-radius: 30px 0 30px 30px;
            background-color: #797EF3;
            @include font-size-weight-color($cl: #FFFFFF)
        }

        .channel-chat-time-sender {
            @include flex-align-justify();
            text-align: end;
            gap: 20px;

            span {
                @include font-size-weight-color($fs: 14px, $cl: #686868)
            }

            h3 {
                cursor: pointer;
                margin: 0;
                @include font-size-weight-color($fw: 700);

                &:hover {
                    color: #444DF2;
                }
            }
        }

        .chat-reactions {
            height: 40px;
            width: 100%;
        }
    }

    .channel-chat-sender-img {
        height: 100%;
        @include flex-align-justify($ai: flex-start);
    }

}

.reaction-menu {
    position: absolute;
    top: -35px;
    left: 5%;
    @include flex-align-justify();
    gap: 5px;
    background-color: #FFFFFF;
    border: 1px solid #ADB0D9;
    border-radius: 25px 25px 0 25px;
    padding: 3px 15px 3px 20px;
    display: none;

    .icon {
        cursor: pointer;
        @include flex-align-justify();
        width: 40px;
        height: 40px;

        .hover-icon {
            display: none;
        }

        &:hover {
            background-color: #ECEEFE;
            border-radius: 100%;

            .not-hover-icon {
                display: none;
            }

            .hover-icon {
                display: flex;
            }
        }
    }
}

.reaction-bar {
    @include flex-align-justify($jc: right);
    width: 100%;
}

.separation-line {
    width: 100%;
    @include flex-align-justify();
    gap: 20px;
    padding: 10px 25px;

    span {
        @include font-size-weight-color($cl: #ADB0D9);
        text-wrap: nowrap;
    }

    div {
        height: 1px;
        background-color: #ADB0D9;
        width: 100%;
    }
}

app-full-thread-message {
    display: flex;
    height: 85%;
    overflow-y: auto;
    flex-direction: column;
    gap: 5px;
}