<div class="open-thread" *ngIf="openThread">
    <div class="thread-header">
        <div class="headline">
            <h2>Thread</h2>
            <span># DevTeam</span>
        </div>
        <div class="close-thread" (click)="closeThread()">
            <img src="../../../assets/img/close.png" alt="">
        </div>
    </div>
    <div *ngIf="thread && thread.messages && thread.messages[0] && threadOwnder">
        <div class="channel-chat-message">
            <div class="reaction-menu">


                <app-emoji-mart [emojiImg]="'emoji-reaction.png'" [emojiImgHover]="'emoji-reaction-hover.png'"
                    [assigningComponent]="'MessageReactionComponent'">
                </app-emoji-mart>

                <div class="icon">
                    <img class="not-hover-icon" src="../../../../assets/img/dots.png" alt="">
                    <img class="hover-icon" src="../../../../assets/img/dots-hover.png" alt="">
                </div>

            </div>
            <div class="channel-chat-content">
                <div class="channel-chat-time-sender">
                    <span>{{thread.getFormattedTimeStamp()}}</span>
                    <h3>{{ threadOwnder.name }}</h3>
                </div>
                <span class="message">
                    {{ thread.messages[0].content }}
                </span>
            </div>
            <div class="channel-chat-sender-img">
                <img src="{{ threadOwnder.imageUrl }}"
                    alt="">
            </div>
        </div>

        <div class="separation-line">
            <span>
                {{ thread.messages.length - 1 }} Antworten
            </span>
            <div></div>
        </div>

        <app-full-thread-message
        [thread]="thread"
        ></app-full-thread-message>

    </div>








</div>