@import '../../mixin.scss';

.register-container {
  @include flex-align-justify();
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo {
  height: 55px;
  position: absolute;
  left: 32px;
  top: 32px;
}

.devtools {
  position: absolute;
  bottom: 75px;
  left: 75px;
}

mat-card {
  width: 40%;
  max-width: 606px;
  max-height: 769px;
  min-height: 70vh;
  border-radius: 30px;
  padding: 18px 32px;

  mat-card-content {
    height: 100%;
    display: flex;
    gap: 48px;
    flex-direction: column;


    .back-arrow {
      height: 40px;
      width: 40px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      border-radius: 50%;

      &:hover {
        background-color: #797df36e;
        cursor: pointer;
      }
    }

    .register-header {
      gap: 48px;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    h1 {
      font-family: Nunito, sans-serif;
      font-size: 46px;
      line-height: normal;
      font-weight: 700;
      color: #444DF2;
      padding: 0 48px;
      text-align: center;
    }

    span {
      font-family: Nunito, sans-serif;
      font-size: 20px;
      line-height: normal;
      font-weight: 400;
      text-align: center;
    }

    .input-container {
      width: 100%;
    }

    .input-field-container {
      font-family: Nunito, sans-serif;
      font-size: 18px;
      line-height: normal;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      border-radius: 100px;
      padding: 16px 24px;
      background-color: #ECEEFE;
      box-sizing: border-box;

      mat-icon {
        color: #686868;
        height: 24px;
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

      input {
        background-color: #ECEEFE;
        border: none;
        color: #686868;
        font-size: 18px;
        line-height: normal;

        &:focus {
          outline: none;
        }
      }

      &:hover {
        outline: 1px solid #686868;
      }

      &:focus-within,
      &:focus {
        outline: 1px solid #535AF1;
      }

    }

    button {
      align-self: end;
    }
  }
}

form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;

  input {
    width: 100%;
  }
}

.input-feedback {
  margin: 0;
  color: #ed1e79;
  font-size: 14px;
  line-height: normal;
}

.error-container {
  display: flex;
  height: 20px;
  margin-top: 4px;
}

.privacy-check span {
  color: #42526E;
  line-height: 18px;
  padding: 0 !important;
}

a {
  color: #797EF3;
  font-size: 18px;
  line-height: normal;
  font-family: Nunito, sans-serif;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: #444DF2;
  }
}

.footer-links {
  display: flex;
  gap: 24px;
  position: absolute;
  bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
