<div class="register-container">
  <img class="logo" src="./../../assets/img/logo-complete-black.png">
  <mat-card>
    <mat-card-content>
      <div class="register-header">
        <img routerLink="/login" class="back-arrow" src="./../../assets/img/go-back.png">
        <h1>
          Konto erstellen
        </h1>
        <span>Mit deinem Namen und deiner E-Mail Adresse hast du dein neues DABubble Konto.</span>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="onNextStep()">

        <div class="input-container">
          <div class="input-field-container">
            <div>
              <mat-icon>person</mat-icon>
              <input formControlName="name" type="text" placeholder="Vorname und Nachname">
            </div>
          </div>
          <div class="error-container">
            <p class="input-feedback" *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.dirty">Bitte schreiben sie einen Namen. Vorname Nachname</p>
          </div>
        </div>

        <div class="input-container">
          <div class="input-field-container">
            <div>
              <mat-icon>mail</mat-icon>
              <input formControlName="email" type="email" placeholder="beispielname@email.com">
            </div>
          </div>
          <div class="error-container">
            <p class="input-feedback" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.dirty">*Diese E-Mail Adresse ist leider ungültig.</p>
          </div>
        </div>

        <div class="input-container">
          <div class="input-field-container">
            <div>
              <mat-icon>lock</mat-icon>
              <input formControlName="password" type="password" placeholder="Password">
            </div>
          </div>
          <div class="error-container">
            <p class="input-feedback" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.dirty">Bitte geben sie ein Passwort mit mind. 6 Zeichen ein.</p>
          </div>
        </div>

        <mat-checkbox formControlName="privacy" color="primary" class="privacy-check"><span>Ich stimme der </span><a href="#">Datenschutzerklärung</a><span> zu.</span></mat-checkbox>

        <button type="submit" mat-flat-button color="primary" [disabled]="!registerForm.valid">Weiter</button>

      </form>

    </mat-card-content>

  </mat-card>


  <div class="footer-links">
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
  </div>

  <div class="devtools">
    <button (click)="loginUser()">Login Hannes</button>
    <button (click)="registerUser()">Register</button>
    <hr>
    <p>Form Status: {{ registerForm.status }}</p>
  </div>

</div>
