@import '../../mixin.scss';

.register-container {
  @include flex-align-justify();
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo {
  height: 55px;
  position: absolute;
  left: 32px;
  top: 32px;
}

.devtools {
  position: absolute;
  bottom: 75px;
  left: 75px;
}

mat-card {
  width: 90%;
  max-width: 606px;
  max-height: 769px;
  min-height: 70vh;
  border-radius: 30px;
  padding: 18px 32px;

  mat-card-content {
    height: 100%;
    display: flex;
    gap: 48px;
    flex-direction: column;

    .register-header {
      gap: 48px;
      display: flex;
      flex-direction: column;
      position: relative;

      .headline-with-arrow {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .back-arrow {
          height: 40px;
          width: 40px;
          z-index: 99;
          border-radius: 50%;

          &:hover {
            background-color: #797df36e;
            cursor: pointer;
          }
        }

        .headline {
          @include flex-align-justify();
          flex: 1;

          h1 {
            margin-bottom: 0 !important;
          }
        }

        .headline-side-space {
          width: 10%;
          @include flex-align-justify();
        }
      }
    }

    h1 {
      font-family: Nunito, sans-serif;
      font-size: 46px;
      line-height: 46px;
      font-weight: 700;
      color: #444DF2;
      text-align: center;
    }

    span {
      font-family: Nunito, sans-serif;
      font-size: 20px;
      line-height: normal;
      font-weight: 400;
      text-align: center;
    }

    .input-container {
      width: 100%;
    }

    .input-field-container {
      font-family: Nunito, sans-serif;
      font-size: 18px;
      line-height: normal;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      border-radius: 100px;
      padding: 16px 24px;
      background-color: #ECEEFE;
      box-sizing: border-box;

      mat-icon {
        color: #686868;
        height: 24px;
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

      input {
        background-color: #ECEEFE;
        border: none;
        color: #686868;
        font-size: 18px;
        line-height: normal;

        &:focus {
          outline: none;
        }
      }

      &:hover {
        outline: 1px solid #686868;
      }

      &:focus-within,
      &:focus {
        outline: 1px solid #535AF1;
      }

    }

    .next-btn {
      align-self: end;
      padding: 12px 25px;
      margin-top: 16px;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 700;
      color: white;
      background-color: #444DF2;
      border: none;

      &:disabled {
        cursor: default;
        pointer-events: none;
        color: rgba(0, 0, 0, 0.38);
        background-color: rgba(0, 0, 0, 0.12);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;

  input {
    width: 100%;
  }
}

.input-feedback {
  margin: 0;
  color: #ed1e79;
  font-size: 14px;
  line-height: normal;
}

.error-container {
  display: flex;
  margin: 6px 0 6px 22px;
}

.privacy-check span {
  color: #42526E;
  line-height: 18px;
  padding: 0 !important;
}

a {
  color: #797EF3;
  font-size: 18px;
  line-height: normal;
  font-family: Nunito, sans-serif;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: #444DF2;
  }
}

.footer-links {
  display: flex;
  gap: 24px;
  position: absolute;
  bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 450px) {

  .register-container {
    gap: 24px;

    .logo {
      position: unset;
      max-width: 40%;
      height: unset;
    }

    mat-card {
      padding: 0 !important;
      max-height: 80vh;
      min-height: unset;

      mat-card-content {
        gap: 12px;

        .register-header {
          gap: 12px !important;

          h1 {
            font-size: 32px;
            line-height: 32px;
          }
        }

        span {
          font-size: 17px;
          line-height: 20px;
        }

        form {
          overflow: auto;
          justify-content: unset;
          padding: 12px;
        }
      }
    }

    .footer-links {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .input-field-container {
    input {
      font-size: 15px !important;
    }

  }
}
