<div class="register-container">
  <mat-card>
    <mat-card-content>
      <h1>Konto erstellen</h1>
      <span>Mit deinem Namen und deiner E-Mail Adresse hast du dein neues DABubble Konto.</span>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <input formControlName="fullname" type="text" placeholder="Name und Nachname">
          <p *ngIf="registerForm.get('fullname')?.errors && registerForm.get('fullname')?.dirty">Bitte Vorname Nachname schreiben</p>

          <input formControlName="email" type="email" placeholder="beispielname@email.com">
          <p *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.dirty">Bitte richitge email adresse eingeben</p>

          <input formControlName="password" type="password" placeholder="Password">
          <p *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.dirty">Bitte mindestens 6 zeichen eingeben</p>

          <input formControlName="privacy" type="checkbox">

          <button type="submit" mat-flat-button color="primary" [disabled]="!registerForm.valid">Weiter</button>

      </form>
    </mat-card-content>
  </mat-card>



  <button (click)="loginUser()">Login Hannes</button>
  <button (click)="registerUser()">Register</button>
<hr>
  <p>Form Status: {{ registerForm.status }}</p>

</div>
