.profile-menu-data {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .p-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;

    img {
      width: 24px;
      height: 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .p-img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
    }
  }

  .p-name-edit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;

    span {
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }

    a {
      font-weight: 600;
      font-size: 18px;
      color: #535AF1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .p-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    .status-point {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    .status-online {
      background-color: #92c83e;
    }

    .status-offline {
      background-color: red;
    }

    .status-away {
      background-color: grey;
    }

    .text-online {
      color: #92c83e;
    }
  }

  .p-email {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 16px;

    .email-last {
      display: flex;
      flex-direction: column;
      gap: 8px;

      span {
        font-size: 20px;
        font-weight: 700;
      }

      a {
        text-decoration: none;
        color: #1381FF;
        font-size: 18px;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
